.icon {
    font-size: 2em;
}

.container.main {
    margin-top: 7em;
}
.collapse{
    display: inline-block;
}

#delete {
    display: inline;

}
 .description, #delete {
    margin-top: 2em;
}

.description{
    margin-bottom: 2em
}

.image .content{
    width:100%;
    height: auto;
   
}
.content {
    display:block;
}